table.checkout_cart{
width:100%;
}
table.checkout_cart td{
padding:10px;
text-align:left;
}
.wpsc_shipping_quote_name, .wpsc_shipping_quote_price{
color:#444;
}
.prov-label{
display:block;
padding:10px;
}
.prov{
display:block;
}

#sel_propinsi, #sel_kota{
display:block;
padding:8px;
width:100%;
border:1px solid #aaa;
background:#fff url(input.png) repeat-x;
color:#444;
font-size:12px;
font-family:arial,verdana;
margin:0 auto;
}
td.wpsc_shipping_quote_name, td.wpsc_shipping_quote_price, td.wpsc_shipping_quote_radio{
display:none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

